@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato&family=Lexend+Deca&family=Montserrat:wght@600&family=Poppins:wght@300&family=Red+Hat+Display:wght@500;700;900&family=Secular+One&family=Signika+Negative&family=Ubuntu:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* text-decoration: none; */
}

body {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgba(113, 99, 186, 255);
}

.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}

.logo {
  height: 80px;
  padding: 16px;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
  background: #e0e0e058;
}

.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

.logout {
  position: relative;
  top: 18rem;
}

.main--content {
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
}

.header--wrapper img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  left: 50rem;
}

.header--wrapper {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}

#ab .side-dropdown {
  position: relative;
  left: 0.9rem;
  list-style: none;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.15s ease;
  width: 110px;
}

#ab .side-dropdown.show {
  max-height: 1000px;
}

.formgroup {
  margin-bottom: 30px;
}

.formgroup label {
  display: block;
  font-weight: bold;
}

.formgroup input[type="text"],
.formgroup textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.formgroupoption {
  margin-bottom: 20px;
}

.formgroupoption label {
  font-weight: bold;
}

.submit-btn {
  background-color: #604caf;
  color: white;
  border: none;
  padding: 10px 20px;
}

.submit-btn:hover {
  background-color: #422679;
}

/* --------------------------------------------------------------------------------- */

.container {
  max-width: 800px;
  height: 60vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 0;
  height: 20px;
}

.scroll-container {
  height: 120px;
  overflow-y: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  background-color: #a6aba7;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.review-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.review-button:hover {
  background-color: #45a049;
}

.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-submit {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #45a049;
}

<!-- HTML !-->
<button class="button-28" role="button">Button 28</button>

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

}

<!-- HTML !-->
<button class="button-17" role="button">Button 17</button>

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #3C5B6F;
  padding: 30px;
  color: #ffffff;
}

.button-17:active {
  padding: 30px;
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  padding: 30px;
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  padding: 30px;
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  padding: 30px;

  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  padding: 30px;
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  padding: 30px;

  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


.container {
  height: 200px;
  position: relative;
  background-image:url("blue-background-7470781_640.jpg");


}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.scroll-container{
